/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #fffdf3;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Georgia', cursive;
  color: #0f0f0f;
}

p, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
 
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
  font-style: italic;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: rgb(250, 104, 201);
  padding: 1%;
}

main, header, nav, article, aside, footer, section {
  background-color: rgb(255, 126, 184);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {

  text-align: center;
  flex: 1;
}

nav a, nav span {
   display: flex;              /* NOT inline-block */
  width: 90%;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-size: 2rem;
  border-radius: 8px;
  border: 5px solid rgb(255, 255, 248);
  background-color: rgb(255, 255, 248);
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}
nav a:hover {
  background-color: #ddd;
}

/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Optional: Set a width for better control */
    width: 30%; 
    height: 50%;
  }
  a {
  color: rgb(46, 93, 140); 

  font-weight: bold; 
     font-size: 2rem;
}

